<!-- SECTION 3: project -->
<section id="projects" class="project-grid-section">
    <h2>Projects</h2>

    <div class="grid-container">
        {% for item in site.projects %}
        <a href="{{ item.url }}" class="project-link">
            <div class="project-card">
                <div class="project-card-left">
                    <span class="project-number">{% if forloop.index < 10 %}0{{ forloop.index }}{% else %}{{ forloop.index }}{% endif %}</span>
                    <h3 class="project-title">{{ item.title }}</h3>
                    <p class="project-headline">{{ item.headline }}</p>
                </div>
                <div class="project-card-right">
                    <div class="project-skills">
                        {% for skill in item.skills %}
                            <span class="skill">{{ skill }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</section>
